*{
    margin: 0;
    padding: 0%;
    border: 0ch;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    text-decoration: inherit;
    line-height: inherit;
    color: inherit;
    
    
}
html,body{
    font-family: "Helvetica Neue", Helvetica,
    sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: rgb(236, 232, 232);
    text-shadow: 1px 1px 0px rgb(126, 123, 123);
    background-image:url("images/backgroundportfolio.png");
    background-attachment:fixed;
    

}
body{
    text-align: center;
}
h1{
    font-size: 36px;
    line-height: 50px;
    font-weight: bold;
}
h2{
    font-weight: bold;
    font-size: 24px;
    line-height: 40px;
}
a{
    color: #58b;
}
a:hover{
    color: #369;
}

.hero{
   
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 0;
    padding: 0;

}
.hero img{
    width:100%;
    height:100%;
    transform: scale(1.0,1.0)
}
h3 sub{
   color: #aaa;
   vertical-align: baseline; 
}
.headshot{
    
    transition: transform 5s, box-shadow 1s;
    width: 400px;
    height: 450px;
    border-radius: 100%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    

}
.headshot:hover{
    transform:rotate(360deg);
    box-shadow: 0px 0px 100px 50px blue,
    0px 0px 100px 20px #960 inset;
}
section{
    border: top 2px dashed #eee;
    padding:50px 0;
    max-width: 800px;
    margin: 0 auto;
}
.list li{
    display:inline;
    font-weight: bold;

}
.list li:not(:last-child):after{
    content:",";
}
.blocklist{
    
    outline: 1px solid red;
}
.prose{
    text-align: justify;
    max-width: 700px;
    margin: 0 auto;

}
.prose p{
    margin: 20px auto;
}
.prose li{
    list-style-position: inside;
    list-style: square;
    color: cadetblue;
}
#biohead{
    text-align: center;
}
address{
    white-space: pre-line;
    font-style: normal;

}
.nav{
    width: 100%;
    display: flex;

}
.nav li{
    list-style-type: none;
    flex-grow: 1;
}
.nav li a{
    display: block;
    line-height: 50px;
    background-color: rgb(61, 59, 59);
    color: honeydew;
    text-shadow: 1px 1px 0px rgb(38, 83, 27);
    transition: background-color 0.2s;
}
.nav li a:hover{
    background-color: rgb(100, 99, 99);
}